.goal-list {
    border-radius: 12px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 0;
    list-style: none;
}